BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
IndentCaseBlocks: false
IndentCaseLabels: true
PointerAlignment: Right
ReferenceAlignment: Right
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignArrayOfStructures: Right
AccessModifierOffset: 0
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
Cpp11BracedListStyle: false
BinPackParameters: false
BinPackArguments: false
CompactNamespaces: false
IncludeBlocks: Regroup
NamespaceIndentation: All
EmptyLineBeforeAccessModifier: Always
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
